form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}
form * {
    margin-bottom: 20px;
}
input, textarea {
    width: 100%;
    padding: 10px;
}
textarea {
    min-height: 300px;
    resize: vertical;
}
button {
    width: fit-content;
}