#admin-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    z-index: 999;
    width: 100%;
    padding: 5px 20px;
    background-color: #000;
    color: #c23616;
}
#admin-nav ul {
    padding: 0px;
    list-style-type: none;
}
#admin-nav li {
    display: inline;
    margin: 0px 20px;
}
#admin-nav a {
    color: #c23616;
    text-decoration: none;
}

#mobile-admin-nav {
    display: none;
    flex-direction: column;
    align-items: center;
    z-index: 999;
    width: 100%;
    padding: 5px 20px;
    background-color: #000;
    color: #c23616;
}
#mobile-admin-nav p {
    font-weight: bold;
}
#mobile-admin-nav ul {
    display: none;
    list-style-type: none;
    text-align: center;
    padding: 0px;
    margin-top: 10px;
}
#mobile-admin-nav li {
    margin: 10px 0px;
}
#mobile-admin-nav li a {
    color: #c23616;
    text-decoration: none;
}

@media only screen and (max-width:700px) {
    #admin-nav {
        display: none;
    }
    #mobile-admin-nav {
        display: flex;
    }
}